/* *{
  margin: 0;
  padding: 0;
} */


.open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-variation-settings: 'wdth' 100; */
}

/* shared style */
.secondary-bg {
  background-color: #fff8f3;
}
.section-description {
  font-size: 20px;
  color: #474747;
  margin-top: -20px;
  line-height: 35px;
}
.text-center {
  text-align: center;
}
/* end */
.header1 {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;

}
.text-tomato {
  color: #fd6e0a;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 100px;
}
.nav-title {
  font-weight: 800px;
  font-size: 45px;
  margin-left: 125px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 24px;
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  padding: 12px 21px;
  border: none;
  font-size: 20px;
  color: #ddd;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
/* banner desgen */

.bennar {
  display: flex;
  /* align-items: center; */
  margin: 0 35px 0 230px;
  justify-content: space-between;
}
.banner-content {
  width: 785px;
  line-height: 30px;
  margin-top: 150px;

}
.headeign-four {
  font-size: 45px;
  color: #474747;
}

.heading-five {
  font-size: 85px;
}
.pra {
  color: #474747;
}
.hardy-pic {
  max-width: 584px;
}
.btn-primar {
  color: #fd6e0a;
  background: none;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px 21px;
  margin-left: 30px;
  cursor: pointer;
}
/* main styles */

main {
  /* padding: 100px; */
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  font-size: 45px;

}

/* about style */
.about {
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
  line-height: 14px;
}

.item-title {
  color: #474747;
  font-size: 25px;
}
.item-description {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
}
/* What I do */

.skills-container {
  display: flex;
  justify-content: center;
}

.skills {
  margin-top: 150px;
}

.skill {
 
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin: 10px;
  padding: 30px;
  width: 250px;
  height: 350px;
  border-radius: 5px;
}

.skill-title {
  font-size: 20px;
  font-weight: bold;
}
img {
  margin: 10px;
}

.skill-description {
  font-size: 18px;
  color: #474747;
  line-height: 35px;
}
/* resume section style */
.resume-container {
  display: flex;
  gap: 24px;
  margin: 200px;
}
.section-title {
  margin-top: 200px;
}

.resume-column-title {
  font-size: 35px;
 
}

.experience-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: -30px;
}

.experience-sub-title {
  font-size: 20px;
  color: #757575;
}
.experience-description {
  font-size: 20px;
   color: #757575;
  /* border-bottom: 1px solid #757575; */
  
}
hr {
  color: #757575;
  margin-top: 30px;
}
.btn-div{
  text-align: center;
  /* background-color: #fd6e0a; */
  margin-top: -200px;
  padding: 10px 20px;
}
.btn-div .btn{
  background-color: #fd6e0a;
  padding: 19px 15px;
  color: azure;
  margin-top: 45px;
  border-radius: 6px;
  width:200px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

footer{
  margin-top: 100px;
  display: flex;
  padding: 130px 230px;
  gap: 100px;
}
.footer-column{
  width: 50%;
  margin-top: -200px;
}
.section-title{
  font-size: 35px;
}

input[type="text"]{
  font-size: 20px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: none;
  padding: 20px 10px;
  margin-top: 10px;
}
input[type="email"]{
    font-size: 20px;
    margin-top: 10px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: none;
  padding: 20px 10px;

}

textarea{
  list-style-type: none;
  width: 75%;
  padding: 30px;
  color: #757575;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}

input[type='submit']{
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  border-radius: 7px;
  color: azure;
  margin-top: 20px;
  border: none;
  background-color: #fd6e0a;

  /* margin-left: 200px; */
}
.hide{
  display: none;
}

@media screen and (max-width:567px) {
  
.skills-container{
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.resume-container{
flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.btn-div{
  margin-top: 10px;
}
footer{
  flex-direction: column;
  padding: 130px 230px;
  
}
footer{
  padding: 10px;
  
  

}
.footer-column{
  width: 100%;
}
  
}
